<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246224012233-d850icbkj3tovjtlfj6mb31fjv73h83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246224012233-d850icbkj3tovjtlfj6mb31fjv73h83o</string>
	<key>API_KEY</key>
	<string>AIzaSyCjgbzYQ5gFSkPnpCV7Vq4kJwV_YdFLO8g</string>
	<key>GCM_SENDER_ID</key>
	<string>246224012233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petnurseapp.ai</string>
	<key>PROJECT_ID</key>
	<string>harisprojects-afc67</string>
	<key>STORAGE_BUCKET</key>
	<string>harisprojects-afc67.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246224012233:ios:da364e27d1da4646a69e18</string>
</dict>
</plist>